<?php

declare(strict_types=1);

use Laminas\Diagnostics\Check\CpuPerformance;
use Laminas\Diagnostics\Check\DirWritable;
use Laminas\Diagnostics\Check\DiskFree;
use Laminas\Diagnostics\Check\ExtensionLoaded;
use Laminas\Diagnostics\Check\GuzzleHttpService;
use Laminas\Diagnostics\Check\PDOCheck;
use Laminas\Diagnostics\Check\PhpVersion;
use Laminas\Diagnostics\Check\SecurityAdvisory;

return [
    'system' => [
        'health-check' => [
            'checks' => [
                CpuPerformance::class,
                DiskFree::class,
                DirWritable::class,
                ExtensionLoaded::class,
                GuzzleHttpService::class,
                PDOCheck::class,
                PhpVersion::class,
                SecurityAdvisory::class,
            ],
            'params' => [
                CpuPerformance::class    => [
                    'minPerformance' => 0.5,
                ],
                DiskFree::class          => [
                    'size' => '100MB',
                    'path' => '/tmp',
                ],
                DirWritable::class       => [
                    'path' => '/tmp',
                ],
                ExtensionLoaded::class   => [
                    'extensionName' => [
                        'gd',
                        'pdo',
                        'simplexml',
                    ],
                ],
                GuzzleHttpService::class => [
                    'requestOrUrl' => 'https://getlaminas.org/',
                    'headers'      => [],
                    'options'      => [],
                    'statusCode'   => 200,
                    'content'      => 'the enterprise-ready PHP Framework',
                    'guzzle'       => null,
                    'method'       => 'GET',
                    'body'         => null,
                ],
                PDOCheck::class          => [
                    'dsn'      => 'mysql://localhost/my_database',
                    'username' => 'my_username',
                    'password' => 'oFPZc!W&zV>,YCrz',
                    'timeout'  => 1,
                ],
                PhpVersion::class        => [
                    'expectedVersion' => '7.4',
                    'operator'        => '>=',
                ],
                SecurityAdvisory::class => [
                    'lockFilePath' => __DIR__ . '/../composer.lock',
                ],
            ],
        ],
    ],
];
